.currencies {

    background-color: white;
    color: #BC5435;
    &__title {
        font-weight: bold;
        padding: 1rem;
        text-align: left;
        border-bottom: grey solid 1px;
    }

    &__box {

        height:20rem;
        overflow:scroll;
    }

    &__name {

        cursor: pointer;
        text-align: left;
        padding: 1rem;
        font-size:1.1em;
        border-bottom: #BC5435 solid 1px;
        transition: background-color 1s
        
    }

    &__name:hover {

        background-color: #EFC5B5;
        transition: background-color .2s
    }
}